@using InfoScreenPi.Models
@using InfoScreenPi.ViewModels
@model IEnumerable<ItemViewModel>
@{
    Layout = null;
    int index = 0;
 }

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Infoscherm</title>

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <!-- Custom CSS -->
    <link href="~/css/full-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="startTime()">

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">

            @foreach(ItemViewModel item in Model){
                if(index == 0){
                    <div class="item active">
                        <div class="fill" style="background-image:url('@item.BackgroundUrl')"></div>
                        <div class="carousel-caption">
                            <h2>@item.Title</h2>
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                }
                else{
                    <div class="item">
                        <div class="fill" style="background-image:url('@item.BackgroundUrl')"></div>
                        <div class="carousel-caption">
                            <h2>@item.Title</h2>
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                }
                index++;
            }
        </div>

    </header>
    <!-- /.container -->
    <footer>
    	<div class="row">
    		<div class="col-md-1">
    			<h1 id="clock"></h1>
    		</div>
	    	<div class="col-md-11" id="foot_content">
	    		<ul class="ticker">
		        	<li>Dokterspraktijk Vandenabeele-Craenen</li>
		            <li>Welkom in onze dokterspraktijk</li>
		            <li>Woensdag namiddag & zaterdag voormiddag op afspraak</li>
		            <li>Registreeer je afspraak op onze website</li>
		        </ul>
			</div>
	    </div>
    	
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    <script src="~/js/inewsticker.js"></script>



    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    var sign = "&nbsp;";
	function startTime() {
	    var today = new Date();
	    var h = today.getHours();
	    var m = today.getMinutes();
	    var s = today.getSeconds();
	    m = checkTime(m);
	    s = checkTime(s);
	    if(sign == "&nbsp;") sign = ":";
	    else sign = "&nbsp;";
	    document.getElementById('clock').innerHTML =
	    h + sign + m;
	    var t = setTimeout(startTime, 1000);
	}
	function checkTime(i) {
	    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
	    return i;
	}

	$(document).ready(function() {
	    $('.ticker').inewsticker({
			speed       : 8000,
			effect      : 'slide',
			dir         : 'ltr',
			color       : '#fff',
			font_family : 'arial',
			delay_after : 1000		
		});
	});

    </script>

</body>

</html>
